
/*body {
	display: inline-block;
	margin-left: 100px;
}*/


.heading {

	height: 300px;
	width: 100%;
	background-color: cyan;
	color: deepskyblue;
	font-family: Crafty Girls;
	font-size: 50px;
	text-align: center;
	margin-top: 50px;
	padding-top: 50px;
	position: relative;
	display: inline-block;
}

#headimage {
	position: absolute;
	margin-left: -360px;
	margin-top: -50px;
	float: left;
}

#new-quote {

	border: 2px solid black;
	width: 300px;
	margin-left: 75px;
	margin-top: 50px;
	display: inline-block;
	padding: 40px;
}
#quotes-ul {

	height: 300px;
	width:  700px;
	border: 2px solid black;
	/*margin-left: 35px;*/
	float: right;
	margin-right: 20px;
}
